<aside id="sidebar">
  <header class="sidebar__header">
    <div class="sidebar__header__wrapper">
      <span class="sidebar__header__icn"><img src="data:image/svg+xml;base64,PD94bWwgdmVyc2lvbj0iMS4wIiBlbmNvZGluZz0iVVRGLTgiIHN0YW5kYWxvbmU9Im5vIj8+PHN2ZyB3aWR0aD0iMjBweCIgaGVpZ2h0PSIyMHB4IiB2aWV3Qm94PSIwIDAgMjAgMjAiIHZlcnNpb249IjEuMSIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIiB4bWxuczp4bGluaz0iaHR0cDovL3d3dy53My5vcmcvMTk5OS94bGluayI+ICAgICAgICA8dGl0bGU+VHJpYW5nbGUgMTwvdGl0bGU+ICAgIDxkZXNjPkNyZWF0ZWQgd2l0aCBTa2V0Y2guPC9kZXNjPiAgICA8ZGVmcz48L2RlZnM+ICAgIDxnIGlkPSJQYWdlLTEiIHN0cm9rZT0ibm9uZSIgc3Ryb2tlLXdpZHRoPSIxIiBmaWxsPSJub25lIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiPiAgICAgICAgPGcgaWQ9IkRlc2t0b3AtMiIgdHJhbnNmb3JtPSJ0cmFuc2xhdGUoLTcxLjAwMDAwMCwgLTEwLjAwMDAwMCkiIGZpbGw9IiNGRkZGRkYiPiAgICAgICAgICAgIDxwYXRoIGQ9Ik04MSwzMCBMNzEsMTUgTDkxLDE1IEw4MSwzMCBaIE05MSwxNCBMNzEsMTQgTDc1LDEwIEw4NywxMCBMOTEsMTQgWiIgaWQ9IlRyaWFuZ2xlLTEiPjwvcGF0aD4gICAgICAgIDwvZz4gICAgPC9nPjwvc3ZnPg==" alt=""></span>
      <span class="sidebar__header__title">
        <a href="<%= WebProfiler::Router.url_for_profiler %>">Profiler</a>
      </span>
    </div>
  </header>

  <!-- Item start -->
  <div class="sidebar__item sidebar__item--blank"></div>
  <!-- Item end -->

<% unless @collectors.nil? %>
  <% @collectors.each do |_k, collector| %>
  <div class="sidebar__item">
    <div class="sidebar__item-inner">
      <i class="icn">
        <% unless collector.icon.nil? %><img alt="" src="<%= collector.icon %>" /><% end %>
      </i>
      <span><a href="<%= WebProfiler::Router.url_for_profiler(@collection.token, collector.name) %>"><%= collector.name %></a></span>
    </div>
  </div>
  <% end %>
<% end %>
</aside>
