<!DOCTYPE html>
<html>
<head>
  <title>Rack WebProfiler</title>
  <style>
  <%= partial 'assets/rwpt.css' %>
  </style>
  <script type="text/javascript">
  <%= partial 'assets/rwpt.js' %>
  </script>
</head>
<body>

<%= yield %>

</body>
</html>
